main {
    min-height: 100vh;
}

.recipeHeader {
    margin: var(--contentMargin);
    padding: 32px 160px 0 160px;

    h1 {
        margin-bottom: 24px;
    }
    .recipeOfDayImage {
    height: 200px;
    width: 100%;
    object-fit: cover;
    }
    aside {
        display: flex;
        gap: 24px;

        figure {
            display: flex;
            gap: 8px;
            align-items: center;
            background-color: #f0f0f0;
            margin-top: 8px;
            padding: 4px 8px;
            border-radius: 8px;

            img {
                width: 16px;
            }
        }
    }
}

hr {
    border-top: 2px solid #f0f0f0;
    width: 100%;
    margin: 56px 0 24px 0;
}

.recipeIngredients {
    display: flex;
    flex-direction: column;

    .ingredientsCalculation {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        input {
            height: 33px;
            padding: 0;
            border: 1px solid black;
            width: 160px;
            margin-left: 4px;
        }
    }

    table  {
    border-spacing: 0 0;
        tr {
        display: flex;
        margin: 4px 0;
        padding: 8px 4px;
        }
        
        tr:nth-child(even) {
        background-color: #f0f0f0;
        border-radius: 8px;
        }
    }
}

.preparation {
    h2 {
        margin-top: 16px;
    }
    div {
        display: flex;
        gap: 8px;
        figure {
            display: flex;
            align-items: center;
            background-color: #f0f0f0;
            padding: 8px 4px;
            gap: 2px;
            border-radius: 8px;

                img {
                width: 15px;
            }
        }
    }

    p {
        margin: 24px 0 56px 0;
    }

    .createdBy {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .profileLogo {
        border-radius: 50%;
        width: 100px;
    }
}








