:root {
    --navHover: #008000;
    --footerColor: #403B3B;
    --backgroundSectionOtherRecipes: #EFEFEF;
}

body {
    margin: 0;
}

.contentRestrain {
    max-width: 1440px;
}

header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.headerContent {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.figHeader {
    display: flex;
    align-items: center;
}

.headerLogo {
    width: 64px;
}

.navBar {
    align-self: flex-end;
}

ul {
    margin: 0;
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
}

.navLink {
    text-decoration: none;
}

.navLink:hover {
    color: var(--navHover);
    border-bottom: 5px solid var(--navHover);
}

button {

}

.recipe {

}

.recipeImage {

}

.recipeDescpription {

}

.otherRecipesDisplay {
    
}

figure {
    margin: 0;
}
